body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  border: 5px solid black;
  width: 100vw;
}

aside {
  border: 5px solid black;
  border-top: 1px solid;
  width: 15%;
  padding-left: 10px;
  height: 120vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
}

/* .section-product {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
} */

.btn-category {
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}


