body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  border: 5px solid black;
  width: 100vw;
}

aside {
  border: 5px solid black;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 15%;
  padding-left: 10px;
  height: 120vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
}
 footer {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  border: 5px solid black;
  width: 100vw;
 }

.btn-category {
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}


@media (max-width: 600px){
    
    header {
      width: 95%;
      border: none;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    aside {
      border: none
    }

    .showCategory{
      font-size: 10px;
      position: absolute;
      z-index: 2;
      width: 70%;
      left: 0;
    }

    .hideCategory {
      display: none;
    }
}

