.mainproduct {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.lineproduct {
    border: 1px solid black;
    height: 200px;
    margin: 20px;

}

.exposeProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.primaryProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}

.detailsProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 13px;
}

.btnNow {
    width: 50%;
    height: 50px;
    font-weight: 700;
    Font-size: 20px;
}

.price {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    font-size: 30px;
    color: red;
}