.mainproduct {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.lineproduct {
    border: 1px solid black;
    height: 200px;
    margin: 20px;

}

.exposeProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}