.sectionProduct {
    width: 85%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .container {
    border: 1px solid #000; /* Cor e estilo da borda podem ser ajustados conforme necessário */
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
    width: 90%;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 70%;
  }
  
  .galleryItem {
    flex: 0 0 200px;
    margin-right: 16px;
    padding: 16px;
    width: 25%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .galleryItem:last-child {
    margin-right: 0;
  }
  
  .price {
    margin-top: 8px;
    text-align: center;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
  }
  
  .prev {
    left: 16px;
    width: 90px;
    height: 100px;
    background: url('../images/prev.png') center/cover no-repeat; /* substitua com o ícone da seta anterior */
  }
  
  .next {
    right: 16px;
    width: 90px;
    height: 100px;
    background: url('../images/next.png') center/cover no-repeat; /* substitua com o ícone da seta próxima */
  }

  .productDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .btn {
    height: 50px;
    width: 100px;
  }